/* .whole{
    display: flex;
    justify-content: center;
} */
.slideimg{
    display: flex;
    justify-self: center;
    width: 950px;
    margin-left: 80px;
    height: 700px;
}
.Caption{
    margin-top:-400px;
    color:white;
    font-size: 4rem;
     position :relative;
    
}
.boton{
    color:whitesmoke;
     padding: 5px;
     border: 2px solid brown;
     border-radius: 8px;
     width: 150px;
     background:none;
     cursor: pointer;
     font-weight: bolder;
     font-size: 1.5rem;
}
 .boton:hover{
    background: white;
    color: brown;
 }


